@model how.web.Models.Goal


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Goal</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<h3>DoneIt's</h3>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoneIts[0].Goal.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoneIts[0].Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoneIts[0].Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoneIts[0].Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.DoneIts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Goal.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "DoneIt", new { id = item.Id }, new  { }) |
            @Html.ActionLink("Details", "Details","DoneIt",new { id = item.Id }, new  { }) |
            @Html.ActionLink("Delete", "Delete", "DoneIt", new { id = item.Id }, new  { }) 
        </td>
    </tr>
}

</table>

@Html.ActionLink("Add new entry", "Create", "DoneIt",new {id=Model.Id}, new {@class="test2"})
